.stg-buttons .button-secondary {
    min-width: 10em;
    text-indent: 0.5em;
}
.stg-buttons .dashicons {
    position: relative;
    top: 0.3em;
}
.stg-buttons .dashicons-no {
    color: #aa0000;
    left: 2em;
}
.stg-buttons .dashicons-yes-alt {
    color: #157f1f;
    left: 2em;
}
.stg-buttons td {
    margin: 1.5em 0 0.5em;
}
.stg-table .form-field {
    width: 100%;
}
.step {
    border-bottom: 25px solid transparent;
}
.stg-table .mce-btn.mce-active button,
.stg-table .mce-btn.mce-active:hover button,
.stg-table .mce-btn.mce-active i,
.stg-table .mce-btn.mce-active:hover i,
.stg-table .mce-btn.mce-active i, 
.stg-table .mce-btn.mce-active:hover i {
    color: #000;
}
@media (min-width: 80em) {
    .stg-table .form-field,
    .stg-table .wp-editor-wrap {
        width: 60%;
    }
}
@media (min-width: 100em) {
    .stg-table .form-field,
    .stg-table .wp-editor-wrap {
        width: 40%;
    }
}
