.shepherd-progress-bar {
    position: absolute;
    left: 2%;
    bottom: 9%;
    font-size: 14px;
    border-radius: 9px;
    height: 20px;
    width: 100%;
    max-width: 180px;
    padding: 3px;
    background: #e6e6e6
}
.shepherd-progress-bar span {
    display: block;
    background: #3288e6;
    width: 50%;
    height: 100%;
    border-radius: 9px;
}
.shepherd-cancel-icon {
    background-color: transparent !important;
    border: none;
    color: hsla(0, 0%, 50.2%, 0.75) !important;
}