.shepherd-progress-bar {
    position: absolute;
    left: 2%;
    font-size: 0.875rem;
    border-radius: 0.5625rem;
    height: 1.25rem;
    width: 100%;
    max-width: 10.9375rem;
    padding: 0.1875rem;
    background: #e6e6e6;
}
.shepherd-progress-bar span {
    display: block;
    background: #3288e6;
    width: 50%;
    height: 100%;
    border-radius: 0.5625rem;
}
.shepherd-cancel-icon {
    background-color: transparent !important;
    border: none;
    color: hsla(0, 0%, 50.2%, 0.75) !important;
}
.shepherd-cancel-icon span {
    position: relative;
    top: -0.125rem;
}
.shepherd-footer {
    align-items: center;
}
.shepherd-text::after {
    clear: both;
    display: table;
    content: "";
}

.stg {
    max-width: 26rem;
}